<div class="row">
    <div class="col-md-12 nes-container with-title is-centered">
        <p class="title nes-text is-error">Oups. 404 not found error.</p>

        <i class="nes-pokeball"></i>
        <h2 class="nes-text is-error">
            
                The page is not exist.
            
        </h2>
        <i class="nes-kirby"></i>
        <h5 class="nes-text is-primary">
            Did you see Snorlax? He loves to eat some webpages :| 
        </h5>

    </div>
</div>