<% content_for :title, "Home" %>

<main class="main-content">
<section class="topic">

<h2 id="home"><a href="#home">#</a>Pages#home</h2> 
<p>To-Do list <br>

<ul>
    <li>TRIX ~</li>
    <li>Categories all pages will be editted</li>
    <li>Posts all pages will be editted</li>
    <br><br>
    <li>User profile page /author will be created</li>
    <li>Category and post deleting will be more secured => (user can delete and edit only its post)</li>
    <li>Post images will be added</li>
    <li>User profile photo will be added</li>
    <li>ActiveAdmin will be added</li>
    <br>
    <li>RSS Feed</li>
    <li>Webhook</li>
</ul>

</p>

</section>
</main>