<% @posts.each do |x| %>
  <section class="topic" style="overflow: auto;">
    <h5 id="<%= x.title %>">
      #<%= link_to x.title, x %>
    </h5>
    <span class="nes-text is-success" style="font-size:10px"><%=x.user.email%></span>
    <p><%= x.description %></p>
  </section>
  <hr>
<% end %>