<% content_for :title, "Categories" %>


<% @categories.each do |category| %>
<% 
  next if category.post.count == 0 
%>
<section class="nes-container with-title">
<h3 class="title"><%= category.title %></h3> 
<p class="desc"><%= category.description %></p>

<% @posts = category.post.last(5) %>

<%= render "posts/_shared/listpost" %>


</section>

    <% end %>
    
