<% content_for :title, "Categories | " + @category.title %>

<section class="nes-container with-title">
<h3 class="title"><%= @category.title %></h3> 
<p class="desc"><%= @category.description %></p>

<% @posts = @category.post %>

<%= render "posts/_shared/listpost" %>


</section>
