<% if notice || alert %>
        <div class="nes-balloon from-left" id="deviseAlert">
            <p class="nes-text is-warning"><%= notice %></p>
            <p class="nes-text is-error"><%= alert %></p>
        </div>
<% end %>