<footer>
    <ul class="footer">
        <li><a href="<%= root_path %>">Home</a></li>
        <li><a href="<%= posts_path %>">Posts</a></li>
        <li><a href="<%= categories_path %>">Categories</a></li>
        <li><a href="<%= authors_path %>">Authors</a></li>
    </ul>
</footer>